section{
    box-sizing: border-box;
    background-color: white;
    width: 50em;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 20px #888888;
    text-decoration: none;
    padding:0;
}
h1{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #b7c8e2;
    margin: 0;
    text-align: center;
}
img, a{
    cursor: pointer;
    float: right;
}
.container{
    box-sizing: border-box;
    width: 50em;
    height: 80%;
    overflow: auto;    
}
ul{
    list-style: none;
    margin: 0;   
    box-sizing: border-box;
}
li{
    padding: 0 10px;
    cursor: pointer;
}
li:hover{
    box-shadow: 0px 0px 10px #888888;
}
h3{
    display: inline-block;
}
#delete{
    float: right;
}