<section>				
	<h1>Historias</h1>
	<!-- ngFor en el click del renglon se ejecuta un metodo, se le pasa la mascota actual -->

	<ul *ngFor='let h of historias'>				
		
		<li> 
			<h3>{{h.fecha}}</h3>
			<h3>{{h.titulo}}</h3>
			<img src="/assets/edit.png" name="editar"/>
			<a [routerLink]="['/historiaDetalle/'+h.id]">detalle</a>
		</li>
	</ul>
	<button class="btn btn-default" [routerLink]="['/mascotas']" >Volver</button>
	<button class="btn btn-success" (click)='goNew()'>Nueva</button>	
</section>
<input type="date" [(ngModel)]='fecha'>
<label for="">{{fecha}}</label>
