<h1>Nueva Historia Clínica</h1>
<br>
<label>Titulo:</label>
<br>
<input [(ngModel)]="historia.titulo" type="text" >
<br>
<label for="">Fecha</label>
<br>
<ng2-datepicker class="form-control"  name="fechaNacimiento" [options]="{ format: 'DD/MM/YYYY'}"
			[ngModel]="historia.fecha | datePicker" [class.errorBorder]="!historia.fecha || errors['fecha']"
			(ngModelChange)="historia.fecha=$event.formatted" ></ng2-datepicker>
<br>
<label for="">Decripción</label>
<br>
<input type="text" [(ngModel)]='historia.descripcion'>
<br>
<label for="">Recordatorio</label>
<br>
<input type="text" [(ngModel)]='historia.recordatorio'>
<br>
<button (click)='save()'>Submit</button>
