<section>	
	<h1>Mascotas</h1>		
	<div class='container'>
		<ul *ngFor="let mascota of mascotas">
			<li (click)='detalle(mascota)'>
				<h3>{{mascota.nombre}}</h3> 
				<img src="/assets/edit.png" name="editar" [routerLink]="['/nuevaMascota/' + mascota.id ]"
						/>
				<a [routerLink]="['/historia/'+mascota.id]" >Historias Clinicas</a>
			</li>
		</ul>
	</div>	
</section>
<div class='botones'>
	<button class="btn btn-default" [routerLink]="['/']" >Volver</button>
	<button class="btn btn-success" [routerLink]="['/nuevaMascota']">Nueva</button>	
</div>
