<section>	
	<h1>Mascotas</h1>		
	<div class='container'>
		<ul>
			<li *ngFor="let mascota of mascotas">
				<h3>{{mascota.nombre}}</h3> 
				<img src="/assets/historico.png" [routerLink]="['/historia/'+mascota.id]" />
				<img src="/assets/edit.png" name="editar" [routerLink]="['/nuevaMascota/' + mascota.id ]"/>
				<img src="/assets/detalles.png" (click)='detalle(mascota)'>
			</li>
		</ul>
	</div>	
</section>
<div class='botones'>
	<button class="btn btn-default" [routerLink]="['/']" >Volver</button>
	<button class="btn btn-success" [routerLink]="['/nuevaMascota']">Nueva</button>	
</div>
<div class='error' *ngIf='noHist'>
	<h1>Error!</h1>
	<div class='msj'>
		<h2>Parece que no tiene ninguna mascota!</h2>
		<div class='botones'>
			<button class="btn btn-default" [routerLink]="['/']" >Volver</button>
			<button class="btn btn-success" [routerLink]="['/nuevaMascota']">Nueva</button>	
		</div>
	</div>
</div>