<div class='cuerpo'>
    <h1>Datos de la mascota</h1>
    <div *ngIf=mascota>
        <h3>Nombre</h3>
            <label for="">{{mascota.nombre}}</label>
        <h3>Fecha Nacimiento:</h3>
            <label for="">{{mascota.fechaNacimiento}}</label>
        <h3>Especie</h3>
            <label for="">{{mascota.especie}}</label>
        <h3>Raza</h3>
            <label for="">{{mascota.raza}}</label>
        <h3>Descripcion</h3>
            <label for="">{{mascota.descripcion}}</label>
    </div>
    <button class="btn btn-default" (click)='deleteHist()'>Delete Hist</button>
    <button class="btn btn-default" (click)='delete()'>Delete</button>
    <button class="btn btn-success" (click)='ok()'>Ok</button>
</div>


<div *ngIf="error" class='cuerpoMsj'>
    <h1>Error!</h1>
    <h3>Por favor antes de borrar la mascota borre sus historias!</h3>
    <button class='btn' (click)='ocultarMsj()'>Ok!</button>
</div>