.cuerpo{
    box-sizing: border-box;
    width: 50em;
    background-color: white;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 0px 20px #888888;
}
h1{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #b7c8e2;
    margin: 0;
}
.botones{
    margin: auto;
}
.check{
    width: 64px;
    height: 64px;
    background-color: white;
    border: none;
    outline: none;
}
.delete{
    width: 64px;
    height: 64px;
    background-color: white;
    border: none;
    outline: none;
}